* {
    margin: 0;
    padding: 0;


}



.mask {
    background-color: rgba(0, 0, 0, 0.6);
}

body {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.8;
    font-weight: normal;
    background: #fafafa;
    color: gray;

}

.sidebar{
    /* min-width: 100px;
    max-width: 100vh; */
    background: #1d1919;
    color: #fff;
    padding: 10px 0;
    display: block;
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    text-decoration: none;

}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

.sidebar ul li a {
    padding: 10px 0;
    display: block;
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    text-decoration: none;

}

.sidebar ul li a:hover,
 .sidebar ul li a:focus {
    box-shadow: inset 200px 0 0 0 gray;
    color: white;
   }  

.wrapper {
    width: 100%;
}

p {
    font-size: 20px;
}

.redes {
    display: block;
    padding: 10px;
    text-align: left;
}

.logo {
    height: 40px;
    border-radius: 40%;
}

.card {
    margin: 20px;
}

.img {
    width: 100px;
}

/* loader */
body,
html {
    height: 100%;
    width: 100%;
    text-align: center;
}

body {
    background-color: #242F3F;
}

.wrapper-loader {
    
    height: 100vh;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #1d1919;
    
    
}

.flecha {
    width: 100px;
    height: 100px;
}


.wrapper-loader {
display: flex;
justify-content: center ;
text-align: center;


}



.imagen-filtro {
    transition: all 0.4s ease;
    margin: 15px;
    border: solid;
    border-color: #1d1919;
    width: 200px;
    
  }
  .imagen-filtro:hover {
    -webkit-filter: grayscale(100%);
  }
 .card{
    background-color: #1d1919;
    margin: 5px;
    padding: 15px;
 }
 #content{
    width: 100%;
 }

 
 .portada{
    
    height: 100vh;
 }
 .container{
    margin-top: 15%;
    background-color: #1d1919;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;
 }
.titulo{
    font-size: 50px;
    padding: 0;
    margin-top: 5px;
    
}
.logo1{
    border-style: double;
    width: 200px;
    margin-bottom: 10%;
    margin-right: 1%;
}

.fondo1{
    background-color: #1d1919;
   
}

button{
    margin: 20px;
}

.lista1 li a{
    text-decoration: none;
}

#lista1 li  {
    display:inline;
    
    text-decoration: none;
    
   
}
.proyectos{
    margin-top: 20px;
}

